---
layout: default
---
{% if site.posts.size != 0 %}
  <ul id="post-list">
    {% for post in site.posts %}
      <li>
        <h2><a class="post-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a> <small>{{ post.date | date: "%b %-d, %Y" }}</small></h2>
        <ul class="tag-list">
          {% for tag in post.tags %}
            <li class="tag tag-{{ tag }}">{{ tag }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <h1>Hey!</h1>
  <p>
    I only just created this website. There are no articles yet but that should change shortly ;).
  </p>
{% endif %}
