---
layout: default
---
  <ul id="post-list">
    {% for post in site.posts %}
      <li>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small>{{ post.date | date: "%b %-d, %Y" }}</small></h2>
        <ul class="tag-list">
          {% for tag in post.tags %}
            <li class="tag tag-{{ tag }}">{{ tag }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
