<div id="aside" class="col-xs-12">
  <a href="/" id="sexy-beast" title="HOME">
    <img class="profile" id="wink" src="images/sexy-beast-2.jpg" alt="Picture of me">
    <img class="profile" id="gazing" src="images/sexy-beast.jpg" alt="Picture of me">
  </a>
  <script charset="utf-8">
    (function() {
      var profilePictures = document.getElementsByClassName("profile"),
          frames = 10,
          maxScrollTop = 30;

      window.onscroll = function() {
        [].forEach.call(profilePictures, function(profilePicture) {
          profilePicture.style.webkitTransform = profilePicture.style.MozTransform = profilePicture.style.OTransform = profilePicture.style.msTransform =
            'scale(' + Math.max(Math.min((1 + 3.5 / maxScrollTop * window.pageYOffset).toFixed(2), 4.5), 1) + ') ' +
            'rotate(' + Math.max(Math.min((20 / maxScrollTop * window.pageYOffset).toFixed(1), 20), 0) + 'deg)';
          profilePicture.style.left = Math.max(Math.min((140 / maxScrollTop * window.pageYOffset).toFixed(0), 140), 0) + "px";
          profilePicture.style.top = Math.max(Math.min((190 / maxScrollTop * window.pageYOffset).toFixed(0), 190), 0) + "px";
          profilePicture.style.display = "block";
          if (window.pageYOffset > 30 && profilePicture.id == "gazing") profilePicture.style.display = "none";
        });
      };
    })();
  </script>
  <h3 id="title" class="text-center">Andrew Milson</h3>
  <ul id="nav">
    <li><a href="/">HOME</a></li>
    <li><a href="/about/">ABOUT</a></li>
    <li class="no-seperator"><a href="/projects/">PROJECTS</a><br></li>
    <li><a href="javascript:mailtoManager('andrew.j.milson', 'gmail.com')">CONTACT</a></li>
    <li class="no-seperator"><a href="https://github.com/andrewmilson" target="_blank">GITHUB</a></li>
  </ul>
  <div class="social visible-md-block visible-lg-block">
  </div>
</div>
