<div id="aside" class="col-xs-12 col-md-3 col-lg-2">
  <img id="sexy-beast" src="images/sexy-beast.jpg">
  <h3 id="title" class="text-center">Andrew Milson</h3>
  <ul id="nav">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ME</a></li>
    <li><a href="/goals">GOALS</a></li>
    <li><a href="https://github.com/andrewmilson" target="_blank">PROJECTS</a></li>
  </ul>
  <hr class="visible-md-block visible-lg-block">
  <p class="text-center visible-md-block visible-lg-block">Yallow there! My name is Andrew Milson. I love programming. If im not programming im longboarding!</p>
  <hr class="visible-md-block visible-lg-block">
  <div class="text-center visible-md-block visible-lg-block"><a href="#" class="btn dark">Do something crazy</a></div>
</div>
