<div id="aside" class="col-xs-12">
  <a href="/" id="sexy-beast" title="HOME">
    <img class="profile" id="wink" src="images/sexy-beast-2.jpg" alt="Picture of me">
    <img class="profile" id="gazing" src="images/sexy-beast.jpg" alt="Picture of me">
  </a>
  <h3 id="title" class="text-center">Andrew Milson</h3>
  <ul id="nav">
    <li><a href="/">HOME</a></li>
    <li><a href="/about/">ABOUT</a></li>
    <li><a href="/projects/">PROJECTS</a></li>
    <li><a href="https://github.com/andrewmilson" target="_blank">GITHUB</a></li>
  </ul>
  <div class="social visible-md-block visible-lg-block">
  </div>
</div>
