#aside
  background #4B7890
  position fixed
  top 0
  left 0
  color #172323
  padding 20px
  height 100%
  border-right #436b80 5px solid

  #nav
    list-style none
    padding 0
    margin 10px 0 0 0
    text-align center

    li
      display inline
      border none
      margin 0px 10px 0 0

      &:last-child
        border none
        margin 0

        a
          padding 0

      a
        display inline-block
        padding 0 10px 0 0
        margin-top 10px
        font-weight bold
        color inherit


  #sexy-beast
    width 140px
    display block
    border-radius 50%
    box-sizing border-box
    border #172323 solid 5px
    margin 0 auto 0 auto


#post-list
  padding 0
  margin 0
  list-style none

  > li
    margin-bottom 50px

#article
  padding 0 30px
  height 100%

.tag-list
  padding 0
  margin 0
  list-style none

@media (max-width: 992px)
  #aside
    position static
    height auto

    #sexy-beast
      width 100px
