#aside
  width 20%
  background #4B7890
  color #172323
  padding 20px
  float left
  height 100%
  border-right #436b80 5px solid

  #nav
    list-style none
    padding 0
    margin 10px 0 0 0
    text-align center

    li
      display inline
      border none
      margin 0px 10px 0 0

      &:last-child
        border none
        margin 0

        a
          padding 0

      a
        display inline-block
        padding 0 10px 0 0
        margin-top 10px
        font-weight bold
        color inherit


  #sexy-beast
    width 60%
    display block
    border-radius 50%
    box-sizing border-box
    border #172323 solid 5px
    margin 0 auto 0 auto


#article
  padding 0 30px
  width 80%
  background #eee
  float right
  height 100%
  overflow scroll
