#aside
  background #4B7890
  top 0
  left 0
  color #172323
  padding 30px
  height auto

  #nav
    list-style none
    padding 0
    margin 10px 0 0 0
    text-align center

    li
      display inline
      border none
      margin 0 10px 0 0
      border-right 2px solid #172323

      &:last-child
        border none

      a
        display inline-block
        padding 0
        margin 10px 10px 0 0
        font-weight bold
        color inherit


  #sexy-beast
    width 200px
    height 200px
    position relative
    display block
    border-radius 50%
    border #172323 solid 5px
    margin 0 auto 0 auto
    overflow hidden

    img
      width 100%
      position absolute
      left 0
      top 0
      height 100%


#post-list
  padding 0
  margin 0
  list-style none

  > li
    paddin-bottom 50px

#article
  padding 0 35px 20px 35px

#disqus_thread
  margin-top 30px

.tag-list
  padding 0
  margin 0
  list-style none
