---
layout: default
---
<h1>{{ page.title }} <small>{{ page.date | date: "%b %-d, %Y" }}</small></h1>

<article class="post-content">
  {{ content }}
</article>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="AndrewMilson">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% include comments.html %}
