---
layout: default
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=572951446136755&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1>{{ page.title }} <small>{{ page.date | date: "%b %-d, %Y" }}</small></h1>

<article class="post-content">
  {{ content }}
</article>

{% include comments.html %}
